@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación máquina de escribir */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid orange; /* Opcional: simula el cursor */
  animation: typewriter 4s steps(40) 1s forwards;
}

/* Animación para que el icono "salude" */
@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}

.wave {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    transform-origin: 60% 100%; /* Ajusta este valor para desplazar el pivote hacia la derecha */
  }
  